<div class="banner-forfaits" style="background-image:url('<%= asset_path("banner-forfaits.png") %> ')">
  <div class="banner-content">
    <% image_tag "logo.png" %>
    <h1>Nos Offres <span style="color: #7fded4;">FAST</span> and <span style="color: #ffd073;">CLEAN</span> <span style="color: #7fded4;">UP !</span></h1>
    </br>
    </br>
    <p><span style="color: #7fded4;">•</span> Site Vitrine <span style="color: #7fded4;">•</span> E-Commerce <span style="color: #7fded4;">•</span> Premium <span style="color: #7fded4;">•</span> Prototype&MVP</p>
  </div>
  <div class="padded-little"></div>
  <i class="fa fa-arrow-down" id="go-down" style="color:black;font-size: 32px;cursor: pointer;"></i>
</div>
<%= render "shared/signupmodal" %>

<% f = Forfait.third  %>
<div class="col-md-6 forfait-wrapper" style="background:linear-gradient(30deg, rgb(15, 87, 110) 0%, rgb(50, 111, 131) 30%)">
  <div class="col-md-6">
    <p style="text-align: right;"><%= humanized_money_with_symbol(f.price) %></p>
  <h3><%= f.title  %></h3>
  <span><%= f.description %>.</span>
  </br>
  </br>
  <% if user_signed_in? %>
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'forfait_id', f.id %>
  <%= submit_tag 'Commandez maintenant !', class: 'btn-forfaits-3' %>
  <% end %>
  <% else %>
  <%= link_to "Connect toi", new_user_session_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signInModal', class:"btn-forfaits-3" %></br><p style="text-align: left;padding:2%;">ou</p>
          <%= link_to "Inscris toi", new_user_registration_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signUpModal', class:"btn-forfaits-3" %>

  <% end %>
  </div>
  <div class="col-md-6">
    <%= image_tag "forfait-3.png" %>
  </div>
</div>

<% f = Forfait.second  %>
<div class="col-md-6 forfait-wrapper" style="background:linear-gradient(-30deg, rgb(127, 222, 212) 0%, rgb(127, 222, 212) 30%);">
  <div class="col-md-6">
    <p style="text-align: right;"><%= humanized_money_with_symbol(f.price) %></p>
  <h3><%= f.title  %></h3>
  <span><%= f.description %>.</span>
  </br>
  </br>
<% if user_signed_in? %>
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'forfait_id', f.id %>
  <%= submit_tag 'Commandez maintenant !', class: 'btn-forfaits-3' %>
  <% end %>
  <% else %>
  <%= link_to "Connect toi", new_user_session_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signInModal', class:"btn-forfaits-4" %></br><p style="text-align: left;padding:2%;">ou</p>
          <%= link_to "Inscris toi", new_user_registration_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signUpModal', class:"btn-forfaits-4" %>
  <% end %>
  </div>
  <div class="col-md-6">
    <%= image_tag "forfait-4.png" %>
  </div>
</div>

<% f = Forfait.first  %>
<div class="col-md-6 forfait-wrapper" id="here-is-down" style="background:linear-gradient(-225deg, rgb(250, 116, 119) 0%, rgb(213, 76, 84) 30%)">
  <div class="col-md-6">
    <p style="text-align: right;"><%= humanized_money_with_symbol(f.price) %></p>
  <h3><%= f.title  %></h3>
  <span><%= f.description %>.</span>
  </br>
  </br>
<% if user_signed_in? %>
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'forfait_id', f.id %>
  <%= submit_tag 'Commandez maintenant !', class: 'btn-forfaits-3' %>
  <% end %>
  <% else %>
  <%= link_to "Connect toi", new_user_session_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signInModal', class:"btn-forfaits" %></br><p style="text-align: left;padding:2%;">ou</p>
          <%= link_to "Inscris toi", new_user_registration_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signUpModal', class:"btn-forfaits" %>
  <% end %>
  </div>
  <div class="col-md-6">
    <%= image_tag "forfait-1.png" %>
  </div>
</div>

<% f = Forfait.last  %>
<div class="col-md-6 forfait-wrapper" style="background:linear-gradient(225deg, rgb(78, 44, 49) 0%, rgb(70, 52, 58) 30%)">
  <div class="col-md-6">
    <p style="text-align: right;"><%= humanized_money_with_symbol(f.price) %></p>
  <h3><%= f.title  %></h3>
  <span><%= f.description %>.</span>
  </br>
  </br>
<% if user_signed_in? %>
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'forfait_id', f.id %>
  <%= submit_tag 'Commandez maintenant !', class: 'btn-forfaits-3' %>
  <% end %>
  <% else %>
  <%= link_to "Connect toi", new_user_session_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signInModal', class:"btn-forfaits-2" %></br><p style="text-align: left;padding:2%;">ou</p>
          <%= link_to "Inscris toi", new_user_registration_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signUpModal', class:"btn-forfaits-2" %>
  <% end %>
  </div>
  <div class="col-md-6">
    <%= image_tag "forfait-2.png" %>
  </div>
</div>


<div id='mydiv'></div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    $("#go-down").click(function() {
        $('html, body').animate({
            scrollTop: $("#here-is-down").offset().top
        }, 900);
    });

    });
  <% end %>
<% end %>
