<div class="navbar-wagon navbar-wagon-fixed displayed" id="mynav">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-4.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->


    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->


      <!-- Profile picture and dropdown -->


    <% else %>


    <% end %>

    <!-- Button (call-to-action) -->
 <% if user_signed_in? %>
        <p class="btn-nav">Hello <%= current_user.username %></p>
        <%= link_to destroy_user_session_path, method: :delete, class: 'btn-nav' do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "") %>
          <% end %>

        <% else %>
        <%= link_to "Connect toi GroW", new_user_session_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signInModal', class:"btn-nav" %>
        <%= link_to "S\'inscrire", new_user_registration_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signUpModal', class:"btn-nav" %>
        <% end %>
    <%= link_to "Offres", forfaits_path, class: "btn-nav" %>
    <%= link_to "Formations", forfaits_path, class: "btn-nav" %>
    <p class="navbar-wagon-item navbar-wagon-button btn" id="test">Contact</p>
  </div>

  <!-- Dropdown list appearing on mobile only -->

</div>
<%= render "shared/signupmodal" %>
<%= render "shared/signinmodal" %>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {

window.onscroll = function() {myFunction()};

function myFunction() {
    if (document.body.scrollTop > 50 ) {
        document.getElementById("mynav").className = "navbar-wagon navbar-wagon-fixed";
    } else {
        document.getElementById("mynav").className = "navbar-wagon navbar-wagon-fixed displayed";
    }
}

});
  <% end %>
<% end %>
