<div class="navbar-wagon navbar-wagon-fixed displayed" id="mynav">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->


    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->


      <!-- Profile picture and dropdown -->


    <% else %>


    <% end %>

    <!-- Button (call-to-action) -->
    <%= link_to "Offres", forfaits_path, class: "btn-nav" %>
    <%= link_to "Formations", forfaits_path, class: "btn-nav" %>
    <p class="navbar-wagon-item navbar-wagon-button btn" id="test">Contact nous Grow</p>
  </div>

  <!-- Dropdown list appearing on mobile only -->

</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
window.onscroll = function() {myFunction()};

function myFunction() {
    if (document.body.scrollTop > 50 ) {
        document.getElementById("mynav").className = "navbar-wagon navbar-wagon-fixed";
    } else {
        document.getElementById("mynav").className = "navbar-wagon navbar-wagon-fixed displayed";
    }
}
    });
  <% end %>
<% end %>
