<div class="modal modal-lg container text-center" id="signUpModal" style="color:white;">
  <div class="padded"></div>
    <div class="row">
     <div class="mcontent col-xs-4 col-xs-offset-4">
        <div class="mheader">
          <button type="button" class="close" data-dismiss="modal">X</button>
          <h4 class="modal-title">Tu veux t'inscrire ?</h4>
          <p>c'est par ici !</p>
        </div>
        <div class="mbody">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "form-signup"}, remote: true) do |f| %>
        <% if resource.errors.any? %>
        <div id="error_explanation">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
          <% end %>
       </ul>
        </div>
        <% end %>
        <p>Prénom et nom</p>
        <%= f.input :username, label: false, required: true, autofocus: true %>
        <p>Email</p>
        <%= f.input :email, label: false, required: true, autofocus: true %>
        <p>Mot de passe</p>
        <%= f.input :password, label: false, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <p>Mot de passe again</p>
        <%= f.input :password_confirmation, label: false, required: true %>
        </div>
        <div class="mfooter">
          <%= f.button :submit, "S\'inscrire", class: 'btn btn-default' %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<% end %>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

$(document).ready(function () {

    $('#form-signup').validate({ // initialize the plugin
        rules: {
            field1: {
                required: true,
                email: true
            },
            field2: {
                required: true,
                minlength: 5
            }
        },
        submitHandler: function (form) { // for demo

            form.submit();

            return false; // for demo
        }
    });


});
  <% end %>
<% end %>
