<div class="banner" style="background-image:linear-gradient(-225deg, rgb(127, 222, 212) 0%, rgba(127, 222, 212, 0.65) 30%), url('<%= asset_path("banner.png") %> ')">
  <div class="banner-content">
    <% image_tag "logo.png" %>
    <h1>A good <span style="color: black;">START</span> for <span style="color: #ffd073;">GroWing</span> <span style="color: black;">UP !</span></h1>

    <p><span style="color: black;">•</span> SEO <span style="color: black;">•</span> LeanStartup <span style="color: black;">•</span> Prototype&MVP <span style="color: black;">•</span> GrowthHacking</p>
  </div>
  <div class="padded-little"></div>
  <%= link_to "Lance toi !", forfaits_path, class: "btn btn-primary" %>
</div>

<div class="padded-little"></div>

<div class="container who-are-ya text-center">
  <div class="row">
    <div class="col-xs-12">
    <h3><span>#</span>Notre Objectif</h3>
    <div class="padded-little"></div>
    <p>Vous aidez à définir une statégie WEB opportune à votre marché, à vos clients et ainsi vous aider à atteindre vos objectifs de communication.</p>
    </div>
  </div>
</div>

<div class="padded-little"></div>

<div class="container our-journal text-center">
  <div class="row">
    <div class="col-xs-12">
    <h3><span>#</span>Nos Offres</h3>
    <div class="padded-little"></div>
      <div class="col-md-4">
      <%= link_to forfaits_path, id:"out-texted" do %>
        <div class="card">
          <div class="bottom-body">
            <div class="card-date">
            <p>Developpement web</p>
            </div>
            <div class="card-title">
            <p>Forfaits Site Web</p>
            </div>
          </div>
          <div class="img-card-up">
          <%= image_tag "agence-img.jpg" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="bottom-body">
            <div class="card-date">
            <p>Startup</p>
            </div>
            <div class="card-title">
            <p>Formations</p>
            </div>
          </div>
          <div class="img-card-up">
          <%= image_tag "Paint.jpg" %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="bottom-body">
            <div class="card-date">
            <p>Devis personnalisés</p>
            </div>
            <div class="card-title">
            <p>Get what u want</p>
            </div>
          </div>
          <div class="img-card-up">
          <%= image_tag "Animation.jpg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padded"></div>

<div class="container our-journal text-center" id="test2">
  <div class="row">
      <h3><span>#</span>Contact nous GroW</h3>
    <div class="col-xs-12 col-md-4 col-md-offset-4">
    <%= simple_form_for @info do |f| %>
      <%= f.input :email, placeholder: 'Email', label: 'Email' %>
      <%= f.input :phone, placeholder: 'Téléphone', label: 'Téléphone' %>
      <%= f.button :submit, 'Envoyer' %>
    <% end %>
    <div class="border-bottomed"></div>
    </div>
  </div>
</div>

<div class="padded"></div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    $("#test").click(function() {
        $('html, body').animate({
            scrollTop: $("#test2").offset().top
        }, 2000);
    });

    });
  <% end %>
<% end %>
