<div class="padded-little"></div>
<div class="banner" style="background-image:linear-gradient(-225deg, rgb(127, 222, 212) 0%, rgba(127, 222, 212, 0.65) 30%), url('<%= asset_path("banner.png") %> ')">
  <div class="banner-content">
    <% image_tag "logo.png" %>
    <h1>A good <span style="color: black;">START</span> for <span style="color: #ffd073;">GroWing</span> <span style="color: black;">UP !</span></h1>

    <p><span style="color: black;">•</span> SEO <span style="color: black;">•</span> LeanStartup <span style="color: black;">•</span> Prototype&MVP <span style="color: black;">•</span> GrowthHacking</p>
  </div>
  <div class="padded-little"></div>
          <%= link_to "S\'inscrire", new_user_registration_path, :id => 'login', "data-toggle" => "modal", 'data-target' => '#signUpModal', class:"btn" %>
</div>

<div class="padded-little"></div>



<div class="container our-journal text-center">
  <div class="row">
    <div class="col-xs-12">
    <h3><%= image_tag "logo.png" %></h3>
    <div class="padded-little"></div>
      <div class="col-md-4">
        <div class="card" id="second-card">
          <div class="img-card-up" style="background-image:linear-gradient(-225deg, rgb(127, 222, 212) 0%, rgba(3, 78, 102, 0.48) 30%),url('<%= asset_path("Chalkboard_2.jpg") %> ')">
          <div class="second-text-inside-card" id="second-img-card" >
          <p style="font-size: 16px; color:white;line-height: 2.6em;">Vous aides à définir une statégie WEB opportune à votre marché, à vos clients et ainsi vous aider à atteindre vos objectifs de communication.</p>
          </div>
          </div>
          <%= link_to forfaits_path, id:"out-texted" do %>
          <div class="bottom-body">
            <div class="card-date">
            <p>Startup</p>
            </div>
            <div class="card-title">
            <p>Formations</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="card" id="first-card">
          <div class="img-card-up" style="background-image:linear-gradient(-225deg, rgb(127, 222, 212) 0%, rgba(3, 78, 102, 0.48) 30%),url('<%= asset_path("comics-formation.jpg") %> ');background-position:100% 55%;">
          <div class="first-text-inside-card" id="first-img-card" >
          <p style="font-size: 16px; color:white;line-height: 2.6em;">Vous êtes entrepreneur, vous avez l'idée du siècle et vous voulez la lancer rapidement. Vous savez que cela va marcher mais il vous manque quelqu'un pour la réaliser.</p>
          </div>
          </div>
          <%= link_to forfaits_path, id:"out-texted" do %>
          <div class="bottom-body">
            <div class="card-date">
            <p>Developpement web</p>
            </div>
            <div class="card-title">
            <p>Site Internet</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="card" id="third-card">
          <div class="img-card-up" style="background-image:linear-gradient(-225deg, rgb(127, 222, 212) 0%, rgba(3, 78, 102, 0.48) 30%),url('<%= asset_path("iron_man_abstract_art.jpg") %> ');background-position:50% 11%;">
          <div class="third-text-inside-card" id="third-img-card" >
          <p style="font-size: 16px; color:white;line-height: 2.6em;">Parce que avez des besoins spécifiques et que vous aimez aussi discuter. Nous avons mis en place un chat bot en bas de page.</br>Exprimez vous !</p>
          </div>
          </div>
          <%= link_to forfaits_path, id:"out-texted" do %>
          <div class="bottom-body">
            <div class="card-date">
            <p>Devis personnalisés</p>
            </div>
            <div class="card-title">
            <p>Get what u want</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="padded-little"></div>

<div class="container who-are-ya text-center">
  <div class="row">
    <div class="col-xs-12">
    <h3>La Méthode</h3>
    <div class="padded-little"></div>
    <p>Vous aidez à définir une statégie WEB opportune à votre marché, à vos clients et ainsi vous aider à atteindre vos objectifs de communication.</p>
    </div>
  </div>
</div>
<div class="padded-little"></div>
<div class="container">
  <div class="row">
    <div class="col-md-3 method-wrapper">
      <div><i class="fa fa-align-justify" aria-hidden="true"></i></div>
      <div><p>Iteration</p></div>
    </div>
    <div class="col-md-3 method-wrapper">
      <i class="fa fa-bar-chart" aria-hidden="true" ></i>
      <p>Test</p>
    </div>
    <div class="col-md-3 method-wrapper">
        <i class="fa fa-users" aria-hidden="true"></i>
        <p>Traffic</p>
    </div>
    <div class="col-md-3 method-wrapper">
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <p>Analyse</p>
    </div>
  </div>
</div>
<div class="padded-little"></div>
<div class="container text-center mid-page-img" style="background-image:linear-gradient(-225deg, rgba(143, 226, 217, 0.46) 0%, rgba(202, 239, 235, 0.25) 30%),url('<%= asset_path("inside-banner.jpg") %> ');background-position:45% 55%;width: 100%;padding-bottom: 0;">
  <div class="row">
  <div class="col-md-12">
    <div class="col-md-4 method-wrapper">
    </div>
    <div class="col-md-4 method-wrapper-outflexed">
    </div>
    <div class="col-md-4 method-wrapper">
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4 method-wrapper">
    </div>
    <div class="col-md-4 method-wrapper-outflexed">
    </div>
    <div class="col-md-4 method-wrapper">
    </div>
  </div>
  </div>
</div>

<div class="padded-little"></div>
<div class="container our-journal text-center" id="test2">
  <div class="row">
      <h3>Contact</h3>
    <div class="col-xs-12 col-md-4 col-md-offset-4">
    <%= simple_form_for @info do |f| %>
      <%= f.input :email, placeholder: 'Email', label: 'Email' %>
      <%= f.input :phone, placeholder: 'Téléphone', label: 'Téléphone' %>
      <%= f.button :submit, 'Envoyer' %>
    <% end %>
    <div class="border-bottomed"></div>
    </div>
  </div>
</div>
<div class="padded-little"></div>
    <%= render 'shared/footer' %>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
    $("#test").click(function() {
        $('html, body').animate({
            scrollTop: $("#test2").offset().top
        }, 2000);
    });

    $("#first-card").hover(function(){
      $("#first-img-card").toggleClass("first-text-inside-card-hovered");
    });
    $("#second-card").hover(function(){
      $("#second-img-card").toggleClass("second-text-inside-card-hovered");
    });
    $("#third-card").hover(function(){
      $("#third-img-card").toggleClass("third-text-inside-card-hovered");
    });
    });
  <% end %>
<% end %>
